body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4{
    margin: 0;
}
p{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
}
.top-line {
    display: flex;  
    height: 72px;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc
}

.header-container{
    display: flex;
}
.logo-cont{
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 76px

}
.logo{
    color:#2E2F42;

}
.logo-cont:hover,:focus{
    color:#4D5AE5;
    font-family:"Raleway",sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-weight: 700;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-list{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display:flex;
    gap: 40px;
   
}
.nav-list-link{
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-list-item:hover,:focus{
    color: #404BBF;    
    font-size: 16px;    
    line-height: 1.5;   
    letter-spacing: 0.32px;
}
.contacts{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-style: normal;
    
    
}
.contacts-list {
    display: flex;
    gap: 40px; 
}
.contacts-link:hover,:focus{
    color:#404BBF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.contacts-link-item{
    padding-top: 24px;
    padding-bottom: 24px;
}

.start-page{
    background: #2E2F42;
    padding: 188px 0 188px;
    height: 600px;
    flex-shrink: 0;
}
.main-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    display: flex;
    align-items: center;
    margin:0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}
.main-page-btn{
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    min-width: 169px;
    height: 56px;
    display: block;
    
    margin: auto;
    padding: 16px 32px;
    
}
.main-page-btn:hover,:focus{
    background : #404BBF;
}
.description{
    padding: 120px 0 120px;
}
.dscr-list{
    display: flex;
    gap: 24px;
    
    justify-content: center;


}
.dscr-item{
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    
    

}
.sec-name{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
    align-items: flex-start;
    margin-bottom: 8px;
}
.sec-dscr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.our-team{
    background: #F4F4FD;
    height: 732px;
    padding: 120px 0 120px
}
.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 0;
}
.team-card{
    background: #FFF;
    width:calc( (100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    justify-content: space-between;
}
.card-dscr{
    padding: 32px 0;
}
.our-team-title{
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 72px;
}
.our-team-name{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px
}
.our-taem-dscr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.portfolio{
    padding: 120px 0 120px 0;
}
.port-list-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-list{
    border: 1px solid #E7E9FC;
    background: #FFF;
    width: calc( (100% - 48px) / 3);
}
.portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 72px;
}
.port-info-cont{
    padding: 32px 16px;
    margin-bottom: 8px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.port-list-title{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px
}
.port-list-dscr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;

    
}
.footer{
    background: #2E2F42;
    height: 312px;
    padding: 100px 0;
}

.footer-dscr{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px; 
    max-width: 264px
    
    
}
.footer-logo{
    color: #F4F4FD;
    padding: 0;
}
.footer-cont{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
}
.logo-cont-footer{
 color:#4D5AE5;
 font-family: "Raleway",
 sans-serif;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.54px;
 text-transform: uppercase;
 font-weight: 700;
 display: inline-flex;
 height: 24px;
 align-items: center;
 flex-shrink: 0;
display: inline-block;
margin-bottom: 16px;
 
}