.hiden{
    display: none;
}
:root {
    --items: 4;
    --row-gap: 48px;
    --column-gap: 24px;
}

body {
    color: #434455;
    background-color: #FFFFFF;
    background: var(--CLOUD, #ffffff);
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    /* width: 360px; */
    height: auto;
}

.section {
    padding-top:72px;
    padding-bottom:72px;
}
@media screen and (min-width:768px){
    .section {
        padding-top: 112px;
        padding-bottom: 112px;
    }
} 
@media screen and (min-width:1158px){
.section {
    padding-top: 188px;
    padding-bottom: 188px;}
}
.container {
    /* phone-devices */
    min-width: 320px; 
    padding: 0 16px;
    margin: 0 auto;

    /* outline: 2px solid red;
    outline-offset: -2px; */
}
/* tablet-devices */
@media screen and (min-width:768px) {
    .container{
        max-width: 768px;
        
    }
    
}
/* desctop */
@media screen and ( min-width:1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }
    
}
.info {
    position: fixed;
    left: 0px;
    bottom: 4px;
    border: 1px solid;
    display: block;
    width: 100%;
}

/* ==============header ================================================== */
.header {
    position: sticky;
    top: -1;
    background: #FFF;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 72px;
    margin: 0 a;
}

.header-nav {
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    gap: 40px;
    
}
@media screen and (max-width:767.98px) {
    .nav-list{
        display: none;
    }
    .contacts-list{
        display: none;
    }
    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        /* cursor: pointer; */
    }
    
}
@media screen and (min-width:768px){
    /* .nav-list{

    } */
    .contacts-list {
        /* display: flex; */
        gap: 40px;
        font-style: normal;
    }
    .menu-btn,
    .menu-btn-icon{
        display: none;
    }
    .address-link{
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-list-link{
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
}
@media screen and (min-width:1158px){
    .address-link{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
    .contacts-list {
        display: flex;
}
.nav-list-link {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.main {
    color: #404bbf;
}

.nav-list-link.main::after,
.nav-list-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    color: #404bbf;
    width: 100%;
}

    
   

}
/* ===============contacts ===================================================== */




/* .address-link, */
.contacts-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-link:hover,
.address-link:focus,
.contacts-list:hover,
.contacts-list:focus {
    color: #404bbf;
}
/* ====hero==================================================================================== */
.hero {
    margin: 0 auto;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/maim-page/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f42;
    background-size: cover;
    max-width: 1440px;
}

    
.hero-header {
    color:  #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-transform: capitalize;
    max-width: 288px;
}


.hero-button {
    display: block;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
/* ====== benefits===================================================================================== */
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.benefits-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap:72px 24px;
}
.benefits-icon-box {
    display: none;
    visibility: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px; */

}
@media only screen and (max-width: 767.988px) {
    .benefits-items {
        --items: 1;
        justify-content: center;
    }
    .benefits-icon-box {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .benefits-items {
        --items: 2;
    }
    .benefits-item {
        width: calc((100% - var(--column-gap) * (var(--items) - 1)) / var(--items));
    }
    

}

@media only screen and (min-width: 1158px){
    .benefits {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    .benefits-item {
        width: calc((100% - 72px) / 4);
    }
    .benefits-icon-box {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid var(--LIGHT-SLATE, #8E8F99);
        background: var(--CLOUD, #F4F4FD);
        margin-bottom: 8px;
    }
    .benefits-item-header{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
       
    }
}


.benefits-icon {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
}


.benefits-item-header {
    margin-bottom: 8px;
    text-align: center; 
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
}
@media only screen and (min-width: 768px) {
    .benefits-item-header {
        text-align: left;
    }

    .benefits-item-text {
        color: var(--NAVY-BLUE, #2e2f42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

.benefits-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.social-links {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 24px;
}

.footer-social-links {
    gap: 16px;
}

.social-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    width: 18px;
    height: 16px;
    fill: #F4F4FD;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}





/* =======our team=========================================================== */
.team {
   
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
   
}
@media screen and( min-width:1158px) {
    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}

.team-header {
    font-size: 36px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 24px; */
    column-gap: 24px;
    row-gap: 64px;
}
/* .team-items {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 72px;
    /* row-gap: 24px; */

@media screen and (min-width:768px) {
    .team-items{
        max-width: 768px;
    }
    
}
@media screen and (min-width:1158px){
    .team-items{
        max-width: 1158px;
    }
} 
.team-item {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    
}

.team-item-info {
    text-align: center;
    padding: 32px 0;
}

.team-item-header {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* ======= portfolio=============================================================== */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and(min-width:1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

}

.portfolio-header {
    font-size: 36px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;


}

.portfolio-items {
    --items: 1;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .portfolio-items{
        --items: 2;
        gap: 72px 24px;
    }
    .portfolio-item{
        width: calc((100% - var(--column-gap) * (var(--items) - 1)) / var(--items));
    }
}
@media only screen and (min-width: 1158px) {
    .portfolio-items {
        --items: 3;
        gap: 48px 24px;
        row-gap: 48px;
    }
    /* .portfolio-item {
        width: calc((100% - var(--column-gap) * (var(--items) - 1)) / var(--items));
    } */
}
.portfolio-item:hover {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-img-overlay {
    transform: translateY(0);
}


.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    padding: 40px 32px;
}




.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-item-header {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ====footer============================================================================= */

.footer {
    padding: 96px 0;
    background-color: #2e2f42;
}
@media only screen and (max-width: 767.98px){
    .footer{
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:1157.98px) {
    .footer-container{
        padding: 0 108px;
       
    }
}
@media only screen and (min-width: 768px) {
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
  }
    .footer-text {
        max-width: 264px;}
}
@media screen and (min-width:1158px) {
    .footer-container{
        align-items: baseline;
    }
    .footer-logo-box{
        margin-right: 120px;
    }
    .footer-form{
        margin-left: auto;
    }
}

.footer-logo-box {
    margin-bottom :72px; ;
    
}

.footer-logo-link {
    display: block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    width: 288px;
    color: var(--CLOUD, #F4F4FD);

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: left;
}

text {
    line-height: 1.5;
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-form-cap{
    color:  #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.social-media{
    margin-bottom: 72px;
}
.social-media-header {
    color: var(--WHITE, #FFF);


    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}


.logo {
    font-size: 18px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    color: var(--IRIS, #4D5AE5);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
    
    margin-right: 120px;
   
}
@media screen and (min-width:1158px){
    .header-logo{
        margin-right: 76px;
    }
    
}
/* =======modal-window ======================================*/
.backdrop{
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
               visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* ========= */
    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 288px;
    min-height: 623px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FCFCFC;  
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
   .modal{
    width: 408px;
    min-height: 584px;
  }
}
.backdrop.is-open{
    opacity:1;
    visibility:visible;
    pointer-events:initial;
    
}
.modal-btn{
    position: absolute;
    
    display: flex; 
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
   background-color: #404BBF;
   border: none;
}
.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: #FFFFFF;
}
.modal-caption{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-top: 24px;
        margin-bottom: 16px;

}
.modal-icon{
    box-sizing: border-box;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild{
    margin-bottom: 8px;
}
.form-item{
    margin-bottom: 8px;
}
.form-lable{
    color:  #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        display: block;
        margin-bottom: 4px;
        background-color: transparent;
        outline: transparent;
        /* padding-left: 38px; */
}
.form-item{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left:38px;
    border: 1px solid  rgba(46, 47, 66, 0.40);  
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus{
    border-color: #4D5AE5;
}
.form-input:focus+.form-icon{
    fill: #4D5AE5;
}
.form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform:translateY(-50%) ;
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-comment{
    width: 100%;
    resize: none;
    max-height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40)); 
}
.comment{
    margin-bottom: 16px
}
.form-user-comment:focus{
    border-color: #4D5AE5;
}
.form-user-comment::placeholder{
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
}
.checkbox-lable{
    color:  #8E8F99;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
}

/* ========= modal-send-btn ================================================== */
.modal-send-btn{
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color:  #FFF;
    text-align: center;
    font-size: 16px; 
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    cursor: pointer;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:focus,
.modal-send-btn:hover{
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*============== footer-form ==================================================== */
.form-subscribe{
    display: flex;
    flex-wrap: wrap;
    gap:16px 24px;
    justify-content: center;
   
}
.subscribe-form-field{
    width: 100%;
}
@media only screen and (min-width: 768px) {
  .subscribe-form-field{
    max-width: 264px; 
  }
}
.footer-form{
    
    align-items: center;
   
    
}
.footer-fotm-cap{
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.subscribe-form-btn{
    
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);   
    border: none;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    min-width: 165px;
}
.subscribe-form-btn:hover,
.subscribe-form-btn:focus{
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
    outline: none;
    padding-left: 16px;
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}
.subscribe-form-input::placeholder{
    color:#FFF  ;
}
.subscribe-form-icon{
    fill  : #FFFFFF;
    margin-left: 16px;
}
.form-fild-checkbox{
    margin-bottom: 24px;
}
.checkbox-lable{
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.checkbox-icon{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}
input[type="checkbox"]:checked+label>span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.checkbox-link{
    color: #4d5ae5;
}
/* ====mobale-menu=============================================== */
.mobale-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 24px 40px 16px ;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    visibility: hidden;
    transition:transform 250ms ease,visibility 250ms ease;
}
.mobale-menu.is-open{
    transform: translateX(0);
    visibility: visible;
}
.mob-menu-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E9FC ;
    border-radius: 50%;
    width:24px ;
    height:24px ;
    background-color: transparent;
}
.mobale-menu-list{
    margin-bottom: auto;
}
.mobale-menu-item:not(:last-child){
    margin-bottom: 40px;
    
}
.mobale-menu-link{
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.mobale-menu-link.current{
    color: #404BBF;
}
.mobale-menu-contacts-list{
    margin-bottom: 48px;
}
.mobale-menu-contacts-link{
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.mobale-menu-contacts-link.accent{
    color: #4D5AE5;
}
.mobale-menu-contacts-item:not(:last-child){
    margin-bottom: 24px;
}
.mobale-menu-social-links{
    gap:40px

}